<h1>餐廳後台</h1>

<div class="mb-3">
  <a href='/admin/restaurants' class="btn btn-link">restaurants
  </a>
  <span>|</span>
  <a href='/admin/users' class="btn btn-link">Users
  </a>
  <span>|</span>
  <a href='/admin/users' class="btn btn-link disabled">categories
  </a>
</div>
<div class="col-lg-6">

  {{#if category}}
  <form action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
    <div class="form-group row align-items-center p-3 my-3 bg-purple rounded shadow-sm">
      <label for="category" class=" col-form-label">Edit category</label>
      <input type="text" class="form-control mb-2" name="category" id="category" placeholder="Enter category"
        value="{{category.name}}" required>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/admin/categories" class="mt-3 btn btn-link mb-3 ml-4">or Create new category</a>
    </div>

  </form>
  {{else}}
  <form action="/admin/categories" method="POST">
    <div class="form-group row align-items-center p-3 my-3 bg-purple rounded shadow-sm">
      <label for="category" class=" col-form-label">Create new category</label>
      <input type="text" class="form-control mb-3" name="category" id="category" placeholder="Enter category" value=""
        required>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  {{/if}}

</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th scope="row">{{this.name}}</th>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/categories/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>