<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
</ul>

<div class="row my-3">
  <div class="col">
    <a href="/restaurants" class="btn btn-outline-info mb-2 mr-2 {{#ifCond categoryId ''}}active{{/ifCond}}">全部</a>
    {{#each categories}}
    <a href="/restaurants?categoryId={{this.id}}"
      class="btn btn-outline-info mb-2 mr-2 {{#ifCond ../categoryId this.id}}active{{/ifCond}}">{{this.name}}</a>
    {{/each}}
  </div>
</div>

<div class="row">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge badge-secondary">{{this.Category.name}}</span>
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />
<br />


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/restaurants?pageNumber={{prev}}&categoryId={{categoryId}}">Previous
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {{#each pageList}}
    {{#ifCond ../pageNumber this}}
    <li class="page-item active">
      <a class="page-link" href="#">{{this}}</a>
    </li>
    {{else}}
    <li class="page-item">
      <a class="page-link" href="/restaurants?pageNumber={{this}}&categoryId={{../categoryId}}">{{this}}
      </a>
    </li>
    {{/ifCond}}
    {{/each}}

    <li class="page-item">
      <a class="page-link" href="/restaurants?pageNumber={{next}}&categoryId={{categoryId}}">Next
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>