<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP 10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<br>
<br>
<h1>TOP 10 人氣餐廳</h1>

{{#each restaurants}}
<div class="row align-items-center my-5">
  <div class="col-lg-5">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{this.image}}" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-5">
    <h1 class="font-weight-light">{{this.name}}</h1>
    <span class="badge badge-secondary">收藏數：{{this.FavoritedUsersCount}}</span>
    <p>{{this.description}}</p>
    <a href="/restaurants/{{this.id}}" class="btn btn-primary my-2">Show</a>
    <div class="d-flex">
      {{#if this.isFavorited}}
      <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
          class="btn btn-danger mb-2 mr-2">移除最愛</button></form>
      {{else}}
      <form action="/favorite/{{this.id}}" method="POST"><button type="submit"
          class="btn btn-primary mb-2 mr-2">加到最愛</button>
      </form>
      {{/if}}
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>
{{/each}}

<div class="mt-4 row justify-content-center">
  <div class="col col-3">
    {{#each restaurants}}
    <div class="card mb-3 d-flex" style="width: 18rem;">
      <img src="{{this.image}}" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>

        <span class="badge badge-secondary">收藏數：{{this.FavoritedUsersCount}}</span>

        <p class="card-text mt-2">{{this.description}}
        </p>
        <a href="/restaurants/{{this.id}}" class="btn btn-primary my-2">Show</a>

        <div class="d-flex">
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
              class="btn btn-danger mb-2 mr-2">移除最愛</button></form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST"><button type="submit"
              class="btn btn-primary mb-2 mr-2">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<a href="javascript:history.back()">回上一頁</a>