<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">TOP 10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/users/top">美食達人</a>
  </li>
</ul>

<br>
<br>
<h1>美食達人</h1>

<div class="row my-5">
  {{#each users}}
  <div class="col-lg-4 col-md-6 mb-3">
    <div class="card h-100">
      <a href="/users/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/users/{{this.id}}">{{this.name}}</a>
        </h4>
        <h5><span class="badge badge-secondary">追蹤人數：{{this.FollowerCount}}</span></h5>
        {{#if this.isFollowed }}
        <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
            type="submit" class="btn btn-danger">取消追蹤</button></form>
        {{else}}
        <form action="/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-primary">追蹤</button></form>
        {{/if}}
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<a href="javascript:history.back()">回上一頁</a>